
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0, 800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background: url("imagens/may-riding-a-bike-pokemon-emerald.3840x2160.gif") no-repeat center/cover;
  background-attachment: fixed;
}
.cadastroPokemon{
    position: relative; 
    z-index: 1; 
    color: white; 
    text-align: center;
    padding-top: 50px;
}
.cadastro-pokemon{
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255 255 255 0.015);
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    border-right: 15px;
}
form h2{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.grupo-input{
    width: 320px;
    margin: 35px auto 0 ;
    position: relative;
}
.grupo-input input{
    font-size: 20px;
    width: 100;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    padding: 5px 0;
    background: transparent;
    border-bottom: 2px solid #fff;
}
.grupo-input .label{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transition: all 0.3s ease;
    pointer-events: none;
}
.grupo-input input:focus ~.label,
.grupo-input input:valid ~.label{
    top: -20px;
    font-size: 14px;
    color: peachpuff;
    
}
